*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/

# For PyCharm users
.idea/

# Pretrained models (too large for GitHub, download separately)
pretrained_models/**/*.pth.tar
pretrained_models/**/*.h5

# All model checkpoint files (large)
**/*.pth.tar
**/*.pth.tar.data-*
**/*.pth.tar.index
